version: "3.9"

services:
  backend: 
    build: .
    container_name: mern_backend

    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
  mongo:
    image: mongo
    container_name: mern_mongo
    healthcheck:
      test: ["CMD", "mongosh","--eval", "db.adminCommand('ping')"]
      interval: 1m50s
      timeout: 20s
      retries: 5
      start_period: 30s
    volumes:
      - mongo-data:/data/db
    
volumes:
  mongo-data: